html {
  font-size: 16px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.text-center {
  text-align: center;
}

.margin-r10 {
  margin: 0 10px 0 0;
}

.trigger {
  padding: 0 24px;
  font-size: 18px;
  line-height: 64px;
  cursor: pointer;
  transition: color 0.3s;
}

.trigger:hover {
  color: #1890ff;
}

.logo {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.3);
}

.site-layout .site-layout-background {
  background: #fff;
}

#root,
.ant-layout.ant-layout-has-sider {
  height: 100%;
}

.login-form-forgot {
  float: right;
}

.spin {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.spin::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.7;
}

.spin .ant-spin {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

/* === start common ===*/
.wrapper {
  max-width: 576px;
  margin: 0 auto;
  padding: 20px 20px 0 20px;
}

.lock-icon {
  color: #fff;
  border-radius: 50%;
  background-color: #f50057;
  margin: 8px;
}

.lock-icon svg {
  width: 40px;
  height: 40px;
  padding: 10px;
}

.log-title {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.33;
}

.capitalize {
  text-transform: capitalize;
}

.user-icon {
  cursor: pointer;
  margin-right: 2em;
}

.log-password .ant-input-password {
  padding: 0;
}

.log-password .ant-input-password .ant-input-password-icon {
  display: block;
  padding: 22px 15px;
}

.log-password .ant-input-password input {
  padding: 18px 14px;
  box-shadow: none !important;
  
}

.log-input {
  padding: 18px 14px;
  box-shadow: none !important;
}

.log-button {
  text-transform: uppercase;
  width: 100%;
  color: #fff;
  height: 36px;
  border-radius: 4px;
  background-color: #3f51b5;
}

.log-button:hover {
  background-color: #303f9f;
}

.footer-log {
  padding: 0 50px;
}

.float-right {
  float: right;
}

.half-input-container .ant-form-item-control-input-content {
  display: flex;
  justify-content: space-between;
}

.half-input {
  width: 47%;
  margin: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
}

@media only screen and (max-width: 576px) {
  .footer-log {
    display: block;
    padding: 0 50px;
    width: 100%;
  }
}
